{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div id="carousel" class="carousel slide">
    <div class="carousel-inner">
        {% for slide in slides %}
        <div class="carousel-item active">
            Slide
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

{% endblock %}